body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c3436;
}

h1 {
    font-size: 3rem;
    color: white;
}

h3 {
    color: white;
}

p {
    color: whitesmoke;
}

.colored_heading {
    color: #f2c410;
}

.container {
    /* border: 2px solid white; */
    padding: 100px 0 10px 10px;
    display: flex;
    /* margin-top: 100px; */
    height: 80vh;
}

.text_container {
    width: 50%;
    padding: 10px;
    /* border: 2px solid skyblue; */
    flex: 4;
    padding-left: 2%;
}

.image_container {
    width: 50%;
    /* border: 2px solid skyblue; */
    padding: 10px 10px 10px 30px;
    flex: 2;
}

img {
    width: 50%;
    height: 500px;
    object-fit: cover;
}

.second_image {
    height: 300px;
    width: 300px;
    border: 3px solid #f2c410;
    padding: none;
    border-radius: 50%;
    margin-left: 100px;
}

.btn_hire {
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #2c3436;
    color: whitesmoke;
    border: 1px solid #f2c410;
    border-radius: 5px;
    transition: .3s linear;
    text-decoration: none;
}

.btn_hire:hover {
    background-color: #f2c410;
    color: #2c3436;
}

.card {
    width: 600px;
    height: 400px;
    padding: 30px;
    background-color: #394346;
    box-shadow: 5px 5px 25px 5px #f2c410;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.card:hover {
    background-color: #4d5a5e;
}

.experience_area {
    justify-content: space-around;
}

.card h1 {
    text-align: center;
}

.card h3 {
    text-align: center;
    color: #f2c410;
}

.centered_heading {
    text-align: center;
}

footer {
    background-color: #2C2D35;
    padding: 30px 0;
    margin: -15px;
}

footer p {
    color: blanchedalmond;
    text-align: center;
}

.first_section {
    background-image: linear-gradient(rgba(44, 52, 54, 0.829), rgba(44, 52, 54, 0.897)), url("images/programmer.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.second_section {
    background-image: linear-gradient(rgba(44, 52, 54, 0.829), rgba(44, 52, 54, 0.897)), url("images/developer.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.experience_area {
    background-image: linear-gradient(rgba(44, 52, 54, 0.829), rgba(44, 52, 54, 0.897)), url("images/code.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.centered_heading {
    margin: -20px;
    padding-top: 50px;
    background-image: linear-gradient(rgba(44, 52, 54, 0.829), rgba(44, 52, 54, 0.897)), url("images/code.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}